*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* FUNZIONALITÀ */
:root{
    --header-bgc: white;
    --button-bgc-blue: #0061fe;
    --jumbo-bcg:#b4d0e7;
    --bgc-hover-button-blue: #5d9bff;
    --bgc-hover-nav: #eee9e2;
    --p-15: 15px;
    --p-col: 10px;
    --font-size-s:0.6rem;
    --font-size-m:0.8rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --card-space: 2px;
    --center: 1400px;
    --gap-card: 10px;
    --f-height: 70px;
    --h-height: 50px;
    --j-card-height: 350px;
    --color-card: #ec407a;
    --grey-0: #171717;
    --grey-1: #222222;
    --grey-2: #3f3f3f;
    --grey-3: #575757;
    --grey-4: #717171;
    --grey-5: #9d9d9d;
    --grey-6: #cdcdcd;
    --orange-0: #ff8000;
    --orange-1: #b25900;
    --g-20: 20px
}

.center{
    width: 1000px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

span{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
}

.default{
    text-decoration: underline;
    color: blue;
}

.button{
    padding: 10px;
    display: inline-block;  /*! DA RIVEDERE*/
}

.b-blue{
    background-color: var(--button-bgc-blue);
    color: white;
}

.b-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.b-small{
    padding: 5px;
}

.b-large{
    min-width: 250px;
    text-align: center;
}

ul{
    list-style-type: none;
}

h2{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: var(--font-size-xl);
}

.t-center{
    text-align: center;
}

.b-bottom{
    border-bottom: 1px solid black
}

.p-10{
    padding: 10px;
}

.p-30{
    padding: 30px;
}
.g-50{
    gap: 50px;
}

.m-top{
    margin-top: 40px;
}
.column{  /* TODO DA MODIFICARE*/
    flex-direction: column;
}

.separator{
    width: 50px;
    border-top: 1px solid var(--grey-6);
    margin: 50px 0;
}
/* EFFETTI */
.nav-menu a:hover, .sign-in_log-in > a:hover{ /* TODO DA MODIFICARE*/
    background-color: var(--bgc-hover-nav);
}

.button:hover{
    background-color: var(--bgc-hover-button-blue); /* TODO DA MODIFICARE*/
}

.content > div:hover{
    border: 20px solid rgba(0,0,0,0.2);
}

/*effetto in hover lista domande frequenti*/
.faq li:hover .fa-chevron-down{
    display: none;
}

.faq li:hover .fa-chevron-up{
    display: inline-block;
}

.faq li:hover div:last-child{
    display: inline-block;
}

/*effetto underline navbar footer*/
.footer-nav a:hover{
    text-decoration: underline;
}
/* HEADER */
header{
    position: sticky;
    top: 0;
    font-size: var(--font-size-m);
    border-bottom: 1px solid var(--bgc-hover-nav);
}

/* NAV */
.nav.display-flex{
    /* !height: 80px; */
    background-color: var(--header-bgc);
    align-items: center;
}

/*parte sinistra*/
.logo-button{
    padding: 0 var(--p-15); /*! ripetuto*/
    /* !height: 100%; */
}

.logo-button img{
   /* !height: 100%; */
   height: 15px;
}

/*parte centrale*/
.nav-menu{ /* div per separare i link */
    flex-grow: 1;
}

.nav-menu a{
    padding: var(--p-15); /*! ripetuto*/
}

.nav-menu div{
    flex-grow: 1;
}

/*parte destra*/
.sign-in_log-in{
    align-items: center;
}

.sign-in_log-in a{
    padding: var(--p-15); /*! ripetuto*/
}

.nav-button{
    padding: 0 10px; /* TODO DA MODIFICARE*/
}
.nav>*{  /* TODO DA RIMUOVERE*/
    /* border: 2px solid #ec407a; */
    display: flex;
}

/* MAIN */
/* jumbo */
.jumbotron{
    height: 550px;
    background-color: var(--jumbo-bcg);
    padding-top: 50px;
    margin-bottom: 50px;
}

h1{
    font-size: 55px;
    font-weight: 900;
}

.j-center{  /* centratura contenuto jumbotron*/
    width: 900px;
    margin: 0 auto;
}

.j-card{
    margin-top: 50px;
    height: var(--j-card-height);
}

.j-card .button{
    margin: 20px 0;
}

.j-card .description{
    flex: 0 0 30%;
    font-size: var(--font-size-m);
}

.j-card .img{
    flex: 0 0 70%;
    /* text-align: center; */
    justify-content: center;  /*! non necessario*/
}

.j-card .img img{ /*! */
    height: 100%;
}

/* INIZIO "MAIN" */
.billing-plan{  /*piano di fatturazione*/
    align-items: center;
    margin-right: 50px;
}

.circle{
    padding: 10px;
    margin-right: 5px;
    border: 2px solid var(--grey-6);
    border-radius: 50%;
}

.circle.active{
    border: 5px solid #0061fe;
    padding: 6px;
}


/* !CARD DEL PIANO DI FATTURAZIONE */
.plan-card{
    flex-direction: column;    /*!INSERISCO A PARTE ?*/
    margin: 50px 0;
    border: 1px solid var(--grey-6);
    width: calc(100% );  /*TODO DA RIVEDERE*/
}

.plan-card_section-top{
    border-bottom: 1px solid var(--grey-6);
}

.icon{
    margin: 50px 0;  /*!DA RIVEDERE ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
}

.plan-card li{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 20px;
}

.plan-card_section-bottom > span{  /*!acquista ora*/
    margin-top: 50px;
}

/* !CARD */
.card{
    margin-top: 20px;   /*TODO */
}

.card .img{
    flex: 0 0 60%;
}

.card .img img{     /*TODO IMMAGINI CARD */
    width: 100%;
}

.card .description{   /*TODO DESCRIZIONI CARD */
    flex: 0 0 40%;
    align-items: center;      /*! DA TRACCIA NON È NECESSARIO*/
    justify-content: center;
    padding: 50px;
}

.description .button{     /*! DA TRACCIA NON È NECESSARIO*/
    align-self: start;   
}

.description span{     /*TODO */
    margin: 30px 0;
}

/* !GRIGLIA DI CARD PICCOLE */
.row{
    flex-wrap: wrap;
    justify-content: center;
}

.row .card{
    flex: 0 0 calc(100% / 3);
}

.row .description{   /*TODO */
    padding: 20px;
}

.company-grid{
    flex-wrap: wrap;
    margin-top: 150px;
}

.content{
    flex: 0 0 calc(100% / 3); 
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.content > div{
    border: 20px solid transparent;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 50%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(219deg) brightness(105%) contrast(101%);
}

#designit{
    background-color: #a2d39b;
}

#arizona{
    background-color: #61082b;
}

#florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#world_bicycle_relief{
    background-color: #d5001f;
}

#hearst_corp{
    background-color: #b4d0e7;
}

#lonely_planet{
    background-color: #0d2481;
}

#clear_channel{
    background-color: #ffd830;
}

.company-description{
    flex: 0 0 calc(100% / 3);
    background-color: #f5f5f5;
    padding: 50px;
}

.company-description p{
    margin-bottom: 50px;
}

.company-link{
    height: 400px;
    width: 100%;
    background-color: #b4d0e7;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.company-link *{
    margin: 0;
}

.faq{
    margin-top: 50px;
}

.faq li{
    border-top: 1px solid black;
    padding: 50px 0;
}

.fa-chevron-up{
    display: none;
}

.faq li div:last-child{
    margin-top: 50px;
    display: none;
}

.faq li div:first-child{
    justify-content: space-between;
}

.faq li:last-child{
    border-bottom: 1px solid black;

}

/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOO FINO A QUI OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* FOOTER */
footer{
    margin-top: 50px;
    background-color: black;
    color: white;
}

.footer-nav{
    padding: 100px 0;
    gap: 50px;
    justify-content: space-between;
}

h3{
    margin: 20px 0;
}

.footer-nav a{
    display: inline-block;
    margin: 10px 0;
    color: white;
}

#languages{
    border: none;
    background-color: transparent;
    color: white;
}

#languages option{
    color: black;
}

.language-menu{
    align-items: center;
    gap: 10px;
    padding: 0 0 50px 0;
}