*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-m);
}

/* FUNZIONALITÀ */
:root{
    --header-bgc: white;
    --button-bgc-blue: #0061fe;
    --light-blue:#b4d0e7;
    --bgc-hover-button-blue: #5d9bff;
    --bgc-hover-nav: #eee9e2;
    --p-15: 15px;
    --p-col: 10px;
    --font-size-s:0.6rem;
    --font-size-m:0.8rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:3.5rem;
    --font-size-xxxl:5rem;
    --card-space: 2px;
    --center: 1400px;
    --gap-card: 10px;
    --f-height: 70px;
    --h-height: 50px;
    --color-card: #ec407a;
    --light-grey: #cdcdcd;
    --g-20: 20px
}

.center{
    width: 1000px;
    margin: 0 auto;
}

.default{ /*"reset" modifiche link*/
    text-decoration: underline;
    color: blue;
}

.display-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-between{
    justify-content: space-between;
}

/*bottoni*/
.b-blue{
    background-color: var(--button-bgc-blue);
    color: white;
}

.b-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.b-small{
    padding: 5px;
}

.b-large{
    padding: 10px;
    min-width: 220px;
    text-align: center;
}

.t-center{
    text-align: center;
}

.b-bottom{
    border-bottom: 1px solid black
}

.p-10{
    padding: 10px;
}

.p-40{
    padding: 40px;
}

.g-50{
    gap: 50px;
}

.m-top{
    margin-top: 40px;
}

.column{  /* TODO DA MODIFICARE*/
    flex-direction: column;
}

.separator{
    width: 50px;
    border-top: 1px solid var(--light-grey);
    margin: 50px 0;
}

/* TAG SINGOLI */

span{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    display: inline-block;
}

img{
    display: block;
}

ul{
    list-style-type: none;
}

h1{
    font-size: var(--font-size-xxl);
    font-weight: 900;
}

h2{
    margin-top: 150px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: var(--font-size-xl);
}

h3{
    font-size: var(--font-size-l);
}

h4{
    margin: 20px 0;
}

/* ICONE FONT-AWESOME */
.fa-check{
    color: #1e00ff;
}

.fa-arrow-down{
    font-size: var(--font-size-xl);
    margin: 20px 0;
}

.fa-chevron-up{
    display: none;
}

/* EFFETTI */
.nav-menu a:hover, .sign-in_log-in > a:first-child:hover{ /* TODO DA MODIFICARE*/
    background-color: var(--bgc-hover-nav);
}

.b-blue:hover{
    background-color: var(--bgc-hover-button-blue); 
}

.b-white:hover{
    background-color: var(--light-grey);
}

/* effetto frecce su .company-description */
[class^="fa-solid fa-angle-"]:hover{
    text-shadow: 0 0 5px white;
}

.company-description:hover [class^="fa-solid fa-angle-"]{
 display: inline-block;
}

.company-description:hover:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

/*effetto in hover quadrati company*/
.content > div:hover{ 
    border: 20px solid rgba(0,0,0,0.2);
}

/*effetto in hover lista domande frequenti*/
.faq li:hover .fa-chevron-down{
    display: none;
}

.faq li:hover .fa-chevron-up{
    display: inline-block;
}

.faq li:hover div:last-child{
    display: inline-block;
}

/*effetto underline navbar footer*/
.footer-nav a:hover{
    text-decoration: underline;
}
/* HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--bgc-hover-nav);
}

/* NAV */
.nav>*{ 
    display: flex;
}

.nav.display-flex{
    background-color: var(--header-bgc);
    align-items: center;
}

.nav a:not(.b-small){
    padding: var(--p-15); 
}

/*parte sinistra*/
.logo-button{
    height: var(--font-size-m);
}

/*parte centrale*/
.nav-menu, .nav-menu div{ /* div per separare i link */
    flex-grow: 1;
}

/*parte destra*/
.sign-in_log-in{
    align-items: center;
}

.sign-in_log-in .b-small{
    margin: 0 10px;
}


/* MAIN */
/* jumbo */
.jumbotron{
    height: 550px;
    background-color: var(--light-blue);
    padding-top: 50px;
    margin-bottom: 50px;
}

.j-content{ 
    width: 900px;
}

.j-card{
    margin-top: 50px;
    height: 350px;
}

.j-card .description{
    padding-bottom: 50px;
    flex: 0 0 30%;
    justify-content: space-between;
    align-items: flex-start;
}

.j-card .img{
    flex: 0 0 70%;
}

/* INIZIO "MAIN" */
.billing-plan{  /*piano di fatturazione*/
    align-items: center;
    margin-right: 50px;
}

.circle{
    padding: 10px;
    margin-right: 5px;
    border: 2px solid var(--light-grey);
    border-radius: 50%;
}

.circle.active{
    border: 5px solid #0061fe;
    padding: 6px;
}


/* CARDS DEL PIANO DI FATTURAZIONE */
.plan-card{
    margin: 50px 0;
    border: 1px solid var(--light-grey);
    width: 100%; /*tutte le card occupano tutto lo spazio disponibile, dividendolo allo stesso modo*/ 
}

.plan-card_section-top{
    border-bottom: 1px solid var(--light-grey);
}

.icon{
    margin: 50px 0;
}

.plan-card li{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 20px;
}

.plan-card_section-bottom > span{  /*acquista ora*/
    margin-top: 50px;
}

/* CARD */
.card.display-flex{
    margin-top: 150px;
}

.card .img{
    flex: 0 0 60%;
}

.card .img img{
    width: 100%;
}

.card .description{
    flex: 0 0 40%;
    align-items: center;    
    justify-content: center;
}

.description a{    
    align-self: start;   
}

.description span{
    margin: 30px 0;
}

/* GRIGLIA DI CARD PICCOLE */
.row{
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.row .card{
    flex: 0 0 calc(100% / 3);
}

.row .description{
    padding: 20px;
}

/* AZIENDE */
.company-grid{
    flex-wrap: wrap;
    margin-top: 150px;
}

.content{
    flex: 0 0 calc(100% / 3); 
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.content > div{
    border: 20px solid transparent; 
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    width: 50%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(219deg) brightness(105%) contrast(101%);
}

#designit{
    background-color: #a2d39b;
}

#arizona{
    background-color: #61082b;
}

#florida{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#world_bicycle_relief{
    background-color: #d5001f;
}

#hearst_corp{
    background-color: var(--light-blue);
}

#lonely_planet{
    background-color: #0d2481;
}

#clear_channel{
    background-color: #ffd830;
}

.company-description{
    flex: 0 0 calc(100% / 3);
    background-color: #f5f5f5;
    padding: 50px;
    position: relative;
}

.company-description img{
    height: var(--font-size-xxxl);
}

.company-description [class^="fa-solid fa-angle-"]{
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    font-size: var(--font-size-xl);
    padding: 30px;
    border-radius: 2px;
    display: none;
}

.fa-angle-left{
    left: 0;
}
.fa-angle-right{
    right: 0;
}

.company-link{
    height: 400px;
    width: 100%;
    background-color:var(--light-blue);
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.company-link *{
    margin: 0;
}

.faq{
    margin-top: 50px;
}

.faq li{
    border-top: 1px solid black;
    padding: 50px 0;
}

.faq li div:last-child{
    margin-top: 50px;
    display: none;
}

.faq li div:first-child{
    justify-content: space-between;
}

.faq li:last-child{
    border-bottom: 1px solid black;
}

/* FOOTER */
footer{
    margin-top: 50px;
    background-color: black;
    color: white;
}

.footer-nav{
    padding: 100px 0;
    gap: 50px;
    justify-content: space-between;
}

.footer-nav a{
    display: inline-block;
    margin: 10px 0;
    color: white;
}

#languages{
    border: none;
    background-color: transparent;
    color: white;
}

#languages option{
    color: black;
}

.language-menu{
    align-items: center;
    gap: 10px;
    padding: 0 0 50px 0;
}